.pay_countdown_section {
	.order_status {
		@extend %inline-block-fix;
		background-color: #52575d;
		margin: 0 0 20px 0;
		padding: 0 0 0 20px;
		> span {
			font-size: 18px;
			height: 60px;
			line-height: 60px;
		}
		.status {
			font-size: 26px;
		}
		.text {
			color: white;
		}
		.deadline {
			font-size: 24px;
			margin: 0 10px;
		}
		.seperate {
			width: 2px;
			margin: 0 20px 0 15px;
			background: url('../images/seperate.png') center no-repeat;
		}
	}
	.doc_link {
		color: #ff6c00;
		font-size: 18px;
	}
	.cancel_order_btn,
	.cd_pay_btn {
		margin: 0 0 0 20px;
	}
}