.edit_passenger_section {
	padding: 20px 20px 20px 60px;
	.title {
		font-size: 24px;
		height: 50px;
		line-height: 50px;
		color: #72abec;
	}
	.label_row {
		margin: 40px 0 0 0;
		&.cre_type {
			.label {
				height: 50px;
				line-height: 50px;
			}
		}
		&.action {
			label,
			a {
				vertical-align: top;
			}
			.confirm_btn {
				margin: 0 0 0 10px;
			}
		}
	}
	.per_cre_type {
		display: inline-block;
		width: 100px;
		height: 50px;
		line-height: 50px;
		font-size: 22px;
		text-align: center;
		background-color: #616161;
		color: white;
		border-radius: 5px;
		&.active {
			background-color: #4da9ff;
		}
		margin: 0 0 0 5px;
		&:first-of-type {
			margin: 0;
		}
	}
	.hints {
		color: #333;
		  margin: 20px 0 0 0;
		  ol {
		  	padding-left: 25px;
		  	margin-top: 5px;
		  	li {
		  		line-height: 26px;
		  	}
		  }
	}
}