html,
body {
	height: 100%;
}
body.dark_bg {
	background-color: $dark_bg;
}
.row {
    @extend %inline-block-fix;
    text-align: center;
    .right {
        float: right;
    }
    .left {
    	float: left;
    }
}
.basic_row {
    @extend %inline-block-fix;
    .right {
        float: right;
    }
    .left {
    	float: left;
    }
}
.label_row {
    @extend %inline-block-fix;
    .label {
    	display: inline-block;
    	width: 25%;
    	font-size: 18px;
    	text-align: right;
    	padding: 0 34px 0 0;
    	color: #000;
    }
    .input {
    	display: inline-block;
    	width: 35%;
    	font-size: 22px;
    	height: 44px;
    	line-height: 44px;
    	padding: 0 15px;
    	border: 1px solid #ddd;
    	border-radius: 5px;
    	box-shadow: inset 0 2px 3px #7B7070;
    }
}
.countdown {
	display: inline-block;
	background-color: #d4d4d4;
	border-radius: 5px;
	padding: 2px 10px;
	border: 1px solid #999;
}
.warning {
	display: inline-block;
	width: 72px;
	height: 64px;
	background: url('../images/warning.png') center no-repeat;
}
.grey {
	color: grey;
}
.h30 {
	height: 30px;
	line-height: 30px;
}
.dark_bg {
	background-color: $dark_bg;
}
.light_grey_bg {
	background-color: $light_grey;
}
.orange {
	color: $orange;
}
.grey_btn {
	background-color: #ddd !important;
}
.return_btn {
	display: inline-block;
	width: 152px;
	height: 50px;
	background: url('../images/return.png') no-repeat;
}
.cancel_btn {
	@extend .return_btn;
	background: url('../images/cancel_btn.png') no-repeat;
}
.cancel_grey_btn {
	@extend .return_btn;
	background: url('../images/cancel_grey.png') no-repeat;
}
.small_grey_cancel_btn {
	@extend .return_btn;
	width: 130px;
	height: 40px;
	background: url('../images/cancel.png') no-repeat;
}
.confirm_btn {
	@extend .return_btn;
	background: url('../images/confirm.png') no-repeat;
}
.confirm_glow_btn {
	@extend .return_btn;
	background: url('../images/confirm_glow.png') no-repeat;
}
.delete_passenge_btn {
	@extend .return_btn;
	background: url('../images/delete_passenger.png') no-repeat;
	width: 201px;
	height: 48px;
}
.add_passenger_btn {
	background-color: #ff6c00;
	  border-radius: 5px;
	  font-size: 24px;
	  color: white;
	  padding: 5px 15px;
	  line-height: 24px;
	  height: 38px;
}
.success {
	color: #00b32a;
}
.invalid {
	color: #a0a0a0;
}
.fixed_bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
.white {
	color: white;
}
.grey_return_btn {
	color: #000;
	  font-size: 20px;
	background-color: #d2d2d2;
	  border-radius: 5px;
	  padding: 5px 25px;
	  line-height: 24px !important;
	  height: 38px !important;
}
.confirm_preservation_btn {
	@extend .grey_return_btn;
	color: white;
	background-color: #0084ff;
}
.hide {
	display: none !important;
}
.shadow {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,.8);
}
[class^="popup_"] {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	.header {
		height: 80px;
		line-height: 50px;
		padding: 15px 0;
		margin: 0 15px;
	}
}