html,
body {
	height: 100%;
}
body.dark_bg {
	background-color: $dark_bg;
}
.row {
    @extend %inline-block-fix;
    text-align: center;
    .right {
        float: right;
    }
}
.basic_row {
    @extend %inline-block-fix;
}
.dark_bg {
	background-color: $dark_bg;
}
.orange {
	color: $orange;
}
.grey_btn {
	background-color: #ddd !important;
}
.return_btn {
	display: inline-block;
	width: 152px;
	height: 50px;
	background: url('../images/return.png') no-repeat;
}