.preservation_section {
	.preserve_header {
		@extend %inline-block-fix;
		border: 1px solid #5a5a5a;
		> span {
			font-size: 18px;
			color: white;
			text-align: center;
			height: 50px;
			line-height: 50px;
		}
	}
	.preserve_body {
		@extend %inline-block-fix;
		border-left: 1px solid #5a5a5a;
		border-right: 1px solid #5a5a5a;
		border-bottom: 1px solid #5a5a5a;
		margin: 0 0 20px 0;
		> span {
			font-size: 18px;
			color: white;
			height: 80px;
			text-align: center;
		}
		.code,
		.duration,
		.ticket_type,
		.price,
		.quantity,
		.total {
			height: 80px;
			line-height: 80px;
			font-size: 22px;
		}
		.origin,
		.dest {
			> div {
				height: 40px;
				line-height: 40px;
				&:first-child {
					font-size: 22px;
				}
			}
		}

	}
	.code {
		width: 10%;
	}
	.origin {
		width: 12.5%;
	}
	.dest {
		width: 12.5%;
	}
	.duration {
		width: 15%;
	}
	.ticket_type {
		width: 12.5%;
	}
	.price {
		width: 12.5%;
	}
	.quantity {
		width: 12.5%;
	}
	.total {
		width: 12.5%;
	}

	.passengers_header {
		@extend .preserve_header;
		background-color: #5a5a5a;
		> span {
			height: 45px;
			line-height: 45px;
		}
	}
	.passengers_body {
		margin: 0 0 10px 0;
		.hint {
			height: 80px;
			line-height: 80px;
			text-align: center;
			color: white;
			font-size: 18px;
			border-left: 1px solid #5a5a5a;
			border-right: 1px solid #5a5a5a;
			border-bottom: 1px solid #5a5a5a;
		}
	}
	.per_passenger {
		@extend .preserve_body;
		border-left: 1px solid #5a5a5a;
		border-right: 1px solid #5a5a5a;
		border-bottom: 1px solid #5a5a5a;
		margin: 0;
		> span {
			height: 80px;
			line-height: 80px;
			@media (max-width: 860px) {
				& {
					line-height: 50px;
					height: 50px;
				}
			}
		}
		.edit {
			// margin: 0 20px 0 0;
			color: #2978c5;
		}
		.delete {
			color: #2978c5;

		}
	}
	.name {
		width: 25%;
	}
	.cre_type {
		width: 25%;
	}
	.cre_num {
		width: 25%;
	}
	.per_passenger.adult {
		.edit_span {
			width: 15%;
			text-align: center;
		}
		.action {
			width: 10%;
		}
	}
	.per_passenger.child {
		.ins_link {
			width: 15%;
			a {
				color: #2978c5;
			}
		}
		.instructions {
			width: 50%;
		}
		.action {
			width: 10%;
		}
	}
	.action {
		width: 25%;
	}
	.preserve_bottom {
		@extend %inline-block-fix;
		left: 18px;
		bottom: 18px;
		> span {
			height: 38px;
			line-height: 38px;
		}
		.text {
			font-size: 22px;
		}
		.grey_return_btn {
			margin: 0 0 0 20px;
		}
		.total_price {
			color: #b7301a;
			margin: 0 5px;
		}
	}
	.popup_preservation {
		width: 532px;
		height: 245px;
		border-radius: 8px;
		padding: 25px;
		background: url('../images/step3pop_bg.png') repeat-x;
		.content {
			@extend %inline-block-fix;
			height: 125px;
			border-bottom: 1px solid #ddd;
			text-align: center;
			padding: 21px 0 0 0;
		}
		.text {
			font-size: 24px;
			text-align: left;
			margin: 0 0 0 40px;
			div {
				height: 32px;
				line-height: 32px;
			}
		}
		.actions {
			height: 70px;
			text-align: center;
			padding: 25px 0 0 0;
			font-size: 0;
			a {
				vertical-align: top;
			}
			.confirm_btn {
				margin-left: 17px;
			}
		}
		.retry_btn {
			margin-left: 15px;
		}
		.gif {
			text-align: center;
			margin-top: 50px;
		}
	}
	.ordering {
		.ordering_header {
			text-align: center;
		  font-weight: normal;
		  font-size: 24px;
		  margin: 0.67em 0;
		}
	}
	.dupe {
		.dupe_header {
			font-size: 24px;
		}
		.dupe_text {
			font-size: 18px;
			margin: 20px 0 0 0;
		}
	}
	.childs {
		.childs_list {
			width: 532px;
			margin-left: -25px;
			border-bottom: 1px solid black;
			border-top: 1px solid black;
		}
		.childs_title {
			h5 {
				margin-top: 5px;
				font-weight: 400;
			}
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			background-color:white;
			a {
				text-decoration: none;
				line-height: 35px;
				  height: 35px;
				  color: black;
			}
			li {
				border-bottom: 1px solid #ddd;
				padding: 0 35px;
			}
		}
	}
}