$font-family            : "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
html * {
    font-family: $font-family;
    outline: none;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
header {
    height: 81px;
    padding: 15px 0 0 27px;
    background: url('../images/top_nav.png') repeat-x;
    @include inline-block-fix(span);
    .logo {
        background: url('../images/logo.png') no-repeat;
        width: 176px;
        height: 58px;
        margin: 5px 20px 0 0;
    }
    .category {
        font-size: 24px;
        border-left: 3px solid #000;
        line-height: 28px;
        margin: 10px 0 0 0;
        padding: 0 0 0 20px;
    }
    .exit_btn {
        background: url('../images/exit.png') no-repeat;
        width: 182px;
        height: 50px;
        float: right;
        margin: 0 33px 0 0;
    }
}
nav {
    position: relative;
    background-color: #ddd;
    top: -1px;
    ul {
        @include inline-block-fix(li);
        &.nav {
            padding: 0;
        }
    }
    .step_1 {
        .pre {
            display: none;
        }
    }
    [class^="step_"] {
        @extend %inline-block-fix;
        width: 16.66%;
        height: 52px;
        position: relative;
        padding: 0 0 0 0;
        // background: url('../images/dark_nav_angle.png') no-repeat;
        background-size: cover;
        &.active {
            background: url('../images/nav_bg.png') repeat-x;
        }
        .pre {
            width: 12px;
            height: 50px;
            position: absolute;
            top: 0;
            left: 0;
            background: url('../images/grey_angle.png') no-repeat;
        }
        &.active {
            .pre {
                background: url('../images/white_angle_active.png') no-repeat;
            }
            .text {
                color: #000;
            }
            & + li[class^="step_"] {
             .pre {
                background: url('../images/white_angle.png') no-repeat;
                }
            }
        }
        .text {
            width: 100%;
            font-size: 18px;
            text-align: center;
            line-height: 52px;
            color: #999;
            padding: 0 0 0 12px;
        }
        .next {
            background: url('../images/white_angle.png') no-repeat;
        }

    }
    &:after {
        content: " ";
        position: absolute;
        top: 52px;
        left: 0;
        height: 22px;
        width: 100%;
        background: url('../images/header_shadow.png') repeat-x;
    }
}


.contents {
    padding: 22px 18px 0 18px;
    .ends {
        @extend %inline-block-fix;
        color: #e2e2e2;
        float: left;
        > span {
            padding: 5px 0;
        }
        .origin {
            font-size: 24px;
        }
        .sep {
            font-size: 24px;

        }
        .dest {
            font-size: 24px;

        }
        .result {
            font-size: 20px;
            line-height: 30px;

        }
    }
    .date_span {
        @extend %inline-block-fix;
        color: #e2e2e2;
        span {
            padding: 10px 20px;
            font-size: 20px;
            line-height: 20px;
        }
        .pre {
            position: relative;
            i {
                @include arrow-left(10px, #ddd);
                position: absolute;
                top: 10px;
                left: 5px;
            }
        }
        .next {
            position: relative;
            i {
                @include arrow-right(10px, #0084ff);
                position: absolute;
                top: 10px;
                right: 5px;
            }
        }
        .date {
            height: 40px;
            background-color: #0084ff;
            border-radius: 8px;
            color: #fff;
        }
    }

    .re_query_btn {
        display: inline-block;
        width: 172px;
        height: 42px;
        border: none;
        outline: none;
        background: url('../images/re_query.png') no-repeat;
    }
    .preserve_btn {
        // @extend .re_query_btn;
        // width: 110px;
        // height: 48px;
        // background: url('../images/preserve_btn.png') no-repeat;
        border: none;
        outline: none;
        height: 40px;
        line-height: 40px;
        background-color: #0084ff;
        border-radius: 8px;
        color: #fff;
        padding: 0 20px;
    }
    .results {
        padding: 5px 0 0 0;
        .header {
            @extend %inline-block-fix;
            height: 50px;
            border: 1px solid $border;
            > span {
                font-size: 16px;
                line-height: 50px;
                color: $white;
                text-align: center;
            }
            .action {
                height: 30px;
                line-height: 30px;
                background-color: #0084ff;
                border-radius: 5px;
                color: #fff;
                padding: 0 10px;
                margin: 10px 0 0 -15px;
                &.detail_header {
                    background-color: $dark_bg;
                }
                i {
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    position: relative;
                    top: 3px;
                    left: -3px;
                    background: url('../images/filter.png') no-repeat;
                }
            }
        }
        .code {
            width: 14.28%;
        }
        .origin {
            width: 14.28%;
        }
        .dest {
            width: 14.28%;
        }
        .duration {
            width: 14.28%;
        }
        .remaining {
            width: 14.28%;
        }
        .price {
            width: 14.28%;
        }
        .action {
            width: 14.28%;
            i {

            }
        }
        .result_body {
            .per_result {
                @extend %inline-block-fix;
                height: 80px;
                padding: 12px 0;
                border: 1px solid $border;
                border-top: none;
                > span {
                    font-size: 16px;
                    color: $white;
                    // text-align: center;
                }
                div {
                    height: 28px;
                    // text-align: center;
                }

                .code {
                    height: 56px;
                    line-height: 56px;
                    font-size: 20px;
                    text-align: center;
                }
                .origin {
                    div {
                        text-align: center;
                    }
                }
                .dest {
                    div {
                        text-align: center;
                    }
                }
                .remaining {
                    div {
                        text-align: center;
                        &:first-child {
                            font-size: 20px;
                        }
                    }
                }

                .duration {
                    height: 56px;
                    line-height: 56px;
                    font-size: 20px;
                }

                .price {
                    height: 56px;
                    line-height: 56px;
                    font-size: 20px;
                        text-align: center;
                }
                .action {
                    height: 56px;
                    line-height: 56px;
                        text-align: center;
                }

                &.per_result_detail {
                    padding: 0;
                    .code {
                        width: 25%;
                    }
                    .origin {
                        width: 25%;
                    }

                    .dest {
                        width: 25%;
                    }

                    .duration {
                        width: 25%;
                    }
                    .remaining {
                        div {
                            height: 38px;
                            line-height: 38px;
                        }
                    }
                }
            }
            .per_result_detail {
                @extend %inline-block-fix;
                height: auto;
                padding: 10px 0;
                .four_col {
                    @extend %inline-block-fix;
                    width: 57.14%;
                    padding: 10px 0;
                }
                .three_col {
                    @extend %inline-block-fix;
                    width: 42.85%;
                    border-left: 1px solid $border;
                }
                .origin {
                    div {
                      font-size: 16px;

                    }
                }
                .dest {
                    div {
                      font-size: 16px;
                    }
                }
                .remaining {
                    div {
                      font-size: 16px;
                    }
                }
                .action {
                      font-size: 16px;
                }

                .three_col_row {
                    @extend %inline-block-fix;
                    font-size: 0;
                    height: 76px;
                    border-top: 1px solid $border;
                    &:first-child {
                        border-top: none;
                    }
                    > span {
                        height: 76px;
                        line-height: 76px;
                        border-left: 1px solid $border;
                        &:first-child {
                            border-left: none;
                        }
                    }
                    .remaining {
                        width: 33.33%;
                    }
                    .price {
                        width: 33.33%;
                    }
                    .action {
                        width: 33.33%;
                    }

                }
            }
        }

    }
}

.return_query_list {
   font-size: 20px;
   display: inline-block;
   padding: 5px 15px;
   background-color: #0084ff;
   border-radius: 5px;
   color: $white;
   margin: 15px 5px 0 5px;

}
.timeline {
   font-size: 20px;
   display: inline-block;
   padding: 5px 15px;
   background-color: #0084ff;
   border-radius: 5px;
   color: $white;
   margin: 15px 5px 0 5px;

}
.popup_query_list {
    display: inline-block;
    width: 632px;
    height: 309px;
    padding: 25px;
    background: url('../images/step2pop_bg.png') repeat-x;
    border-radius: 8px;
    .content {
        height: 190px;
        border-bottom: 1px solid #ddd;
        padding: 15px 0 0 0;
    }
    .label_row {
        span {
            font-size: 18px;
        }
        .label {
            padding: 0 20px 0 0;
        }
        .input {
            width: 55%;
        }
    }
    .sms_code {
        margin: 38px 0 0 0;
    }
    .countdown {
        margin-left: 10px;
    }
    .hint {
        margin: 10px 0 0 0;
    }
    .actions {
        height: 69px;
        text-align: center;
        padding: 25px 0 0 0;
        a {
            vertical-align: top;
        }
        .confirm_btn {
            margin-left: 10px;
        }
    }
}
.filter_section {
    width: 700px;
    height: 500px;
    background-color: white;
    padding: 20px 0px;
    border-radius: 5px;
    .title {
          margin: 0 30px;
    }
    .label_row {
      margin: 25px 0 0 0;
      .label {
        line-height: 50px;
        height: 50px;
        vertical-align: top;
      }
      .confirm_btn {
        margin: 0 0 0 20px;
      }
      &.ve_type {
        padding-left: 25%;
        position: relative;
        .label {
            margin-left: -25%;
        }
        > span {

        }
      }
    }
    .per_filter {
        display: inline-block;
        width: 95px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        text-align: center;
        background-color: #616161;
        color: white;
        border-radius: 5px;
        margin: 5px 0 5px 5px;
      &.active {
        background-color: #4da9ff;
      }
    }
}